/* header */
header {
    /* background: aqua; */
    max-width: 1200px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {width: 105px;}
header h1 a {}
header h1 a img {width: 100%;}
header h1 .logo2 {display: none;}
header > ul {
    display: flex;
}
header > ul > li {
    margin-right: 40px;
    position: relative;
}
header > ul > li:last-child {
    margin-right: 0;
}
header > ul > li a:last-child {
    padding-right: 0;
}
header > ul > li > a {
    display: block;
    font-size: 1.313rem;
    line-height: 100px;
    text-align: center;
    padding:0 20px;
}
header > ul > li .sub {
    position: absolute;
    width: 220px;    
    /* background: #fff; */
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 2;
}
header > ul > li .sub > li {}
header > ul > li .sub > li:hover ul.sub {display: block;}
header > ul > li .sub > li > a {
    display: block;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top:10px;
}
header ul li a:hover {color:#c3002f;}
/* m_opennav */
header #m_nav {
    display: none;
}
header #m_nav .m_n_icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}
header #m_nav .bar {
    /* display: none; */
}
header #m_nav .bar span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 9px;
}
header #m_nav .bar span:nth-child(3) {margin-bottom: 0;}
header #m_nav .close {
    display: none;
    background: url(../images/close.png) no-repeat;
    background-size: 40px;
    width: 35px;
    height: 39px;
}
header #m_nav nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100px;
    background:#fff;
    left: 0;
    z-index: 600;
    padding-bottom: 40px;
}
header #m_nav nav > ul {}
header #m_nav nav > ul > li {
    padding:25px 15px;
    border-bottom: 1px solid #aaa;
}
header #m_nav nav > ul > li:last-child {border: none;}
header #m_nav nav > ul > li > a {
    display: inline;
    font-size: 1.313rem;
    display: flex;
    justify-content: space-between;
}
header #m_nav nav > ul > li .sub2 {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
}
header #m_nav nav > ul > li .sub2 li {
    padding:20px 0 30px 40px;
    margin-bottom: 27px;
}
header #m_nav nav > ul > li .sub2 li:last-child {margin-bottom: 0;}
header #m_nav nav > ul > li .sub2 li a {
    display: block;
    font-size: 1.188rem;
}
/* main */
main {}
/* main1 */
main .visual {
    width: 100%;
    height: 90vh;
    /* height: 820px; */
    position: relative;
    overflow: hidden;
}
main .visual .txt {
    position: absolute;
    width: 100%;
    bottom:150px;
    z-index: 900;
}
main .visual .txt h1 {
    font-size: 3.625rem;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color:#fff;
    margin-bottom: 50px;
}
main .visual .txt .link {
    display: flex;
    justify-content: center;
}
main .visual .txt .link a {
    font-size: 1.625rem;
    padding:20px 0;
    color:#fff;
    border: 2px solid #fff;
    width: 250px;
    display: block;
    text-align: center;
}
main .visual .txt .link .more {background:#c3002f;}
main .visual .txt .link .drive {
    margin-left: 30px;
}
main .visual .txt .link .more:hover,
    main .visual .txt .link .drive:hover {
    background:#fff;
    color:#000;
}
main .visual video {
    width: 100%;
    display: block;
    position:absolute; 
    left:50%;
    transform: translateX(-50%);
    /* position: relative; */
    /* padding-bottom: 56.25%; */
}
main .visual img {display: none;}
/* main2 새로운소식 */
main .new_wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding:150px 0;
}
main .new_wrap .txt {}
main .new_wrap .txt p {font-size: 1.333rem;}
main .new_wrap .txt h2 {
    font-size: 2.369rem;
    font-weight: 500;
    margin: 30px 0 50px;
}
main .new_wrap .container {
    display: grid;
    grid-template-columns: 510px auto;
    /* grid-template-columns: repeat(2, minmax(0px, 1fr)); */
    gap:0 66px;
}
main .new_wrap .container .txt {}
main .new_wrap .container .txt a {
    display: block;
    font-size: 1.438rem;
    font-weight: 500;
    margin-bottom: 25px;
}
main .new_wrap .container .txt p {font-size: 16px;}
main .new_wrap .container .left {}
main .new_wrap .container .left .new1 {}
main .new_wrap .container .left .new1 a {}
main .new_wrap .container .left .new1 a img {
    width: 100%;
    height: 585px;
    object-fit: cover;
}
main .new_wrap .container .left .new1 .txt {}
main .new_wrap .container .left .new1 .txt a {
    margin-top: 30px;
}
main .new_wrap .container .left .new1 .txt p {}
main .new_wrap .container .right {}
main .new_wrap .container .right .contents {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}
main .new_wrap .container .right .new2 > a,
main .new_wrap .container .right .new3 > a,
main .new_wrap .container .right .new4 > a {
    width: 350px;
}
main .new_wrap .container .right .contents .txt {
    margin-left: 30px;
}
main .new_wrap .container .right .contents a img {width: 100%;}
main .new_wrap .container .new1 a,
main .new_wrap .container .contents a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main .new_wrap .container .contents:hover img {
    transform: scale(1.1);
}
main .new_wrap .container .contents img {
    transition: transform 0.3s ease;
}
main .new_wrap .container .contents .txt {}
main .new_wrap .container .contents .txt a {}
main .new_wrap .container .contents .txt p {}
main .new_wrap .container .new2 {}
main .new_wrap .container .new3,
main .new_wrap .container .new4 {
    margin-top: 20px;
}
main .new_wrap .container .contents:last-child {
    border: none;
}
main .new_wrap .container .new3 .txt a,
main .new_wrap .container .new4 .txt a {line-height: 33px;}
main .new_wrap #new01-1, 
main .new_wrap #new02-1,
main .new_wrap #new03-1,
main .new_wrap #new04-1 {display: none;}
/* main3 시승신청 */
main .drive_bnr {
    /* background: yellow; */
    width: 100%;
    /* height: 800px; */
    position: relative;
}
main .drive_bnr .txt {
    position: absolute;
    width: 100%;
    top:304px;
    color: #fff;
    padding-left: 150px;
}
main .drive_bnr .txt p {font-size: 1.333rem;}
main .drive_bnr .txt h2 {
    font-size: 2.813rem;
    font-weight: 700;
    padding:35px 0 50px;
}
main .drive_bnr .txt .drive {
    display: inline-block;
    font-size: 1.625rem;
    font-weight: 500;
    padding:20px 45px;
    background:#fff;
    border-radius: 30px;
}
main .drive_bnr .txt .drive:hover {
    background: #c3002f;
    color:#fff;
}
main .drive_bnr img {
    width: 100%;
}
/* main4 차량모델 */
main .car_wrap {
    background:#f4f2ec;
}
main .car_wrap .car_contents {
    width: 1200px;
    margin: 0 auto;
    padding:150px 0;
}
main .car_wrap .txt {}
main .car_wrap .txt p {font-size:1.333rem;}
main .car_wrap .txt h2 {
    font-size: 2.369rem;
    font-weight: 500;
    margin:30px 0 50px;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}
main .car_wrap .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .car_wrap .container .items {
    width: 360px;
}
main .car_wrap .container .items img {
    /* margin:50px 0 30px; */
    width: 100%;
}
main .car_wrap .container .items p {
    font-size: 1.5rem;
    font-weight: 500;
    margin:30px 0;
}
main .car_wrap .container .items .view {
    display: inline-block;
    width: 360px;
    text-align: center;
    font-size: 1.625rem;
    padding: 20px 50px;
    border: 1px solid #c3002f;
    background: #c3002f;
    color: #fff;
    /* margin-top:30px; */
}
main .car_wrap .container .items .view:hover {
    border: 1px solid #c3002f;
    background: #fff;
    color: #c3002f;
}
/* footer */
footer {
    background: #000;
    color:#fff;
    width: 100%;
    height: 362px;
}
footer .top {
    padding: 50px 0;
    border-bottom: 1px solid #343434;
}
footer .top .top_wrap,
footer .btm .btm_wrap {
    width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
footer .top .top_wrap .txt {
    display: flex;
    flex-flow: column;
}
footer .top .top_wrap .txt > * {
    display: inline-block;
    color: #fff;
}
footer .top .top_wrap .txt span {
    margin-bottom: 35px;
    font-size: 1.188rem;
    font-weight: 500;
}
footer .top .top_wrap .txt a {margin-bottom: 25px;}
footer .top .top_wrap .txt a:last-child {margin-bottom:0;}
footer .btm {
    margin:50px 0 100px;
}
footer .btm .btm_wrap {}
footer .btm .btm_wrap div > * {
    display: block;
    color: #fff;
}
footer .btm .btm_wrap .left {}
footer .btm .btm_wrap .left a {}
footer .btm .btm_wrap .right {display: flex;}
footer .btm .btm_wrap .right > * {margin-left: 35px;}
footer .btm .btm_wrap .right a {}
footer .btm .btm_wrap .right p {}