/* 반응형 css */
@media screen and (max-width:1500px){
    header {
        width: calc(100% - 30px);
    }
    /* main1 */
    main .visual video {
        width:auto;
        height: 100%;
    }
}
@media (max-width:1250px){
    /* main2 */
    main .new_wrap {
        width: calc(100% - 30px);
    }
    main .new_wrap .container {
        grid-template-columns: repeat(2, 1fr);
        gap:0 35px;
    }
    main .new_wrap .container .contents .txt {width: 244px;}
    main .new_wrap .container .txt a {font-size: 1.2rem; margin-bottom: 15px;}
    br {
        display: inline-block;
        content: " ";
        padding: 0 1px;
    }
    main .new_wrap .container .right .contents .txt {
        margin-left: 15px;
        width: 200px;
    }
    /* main3 */
    main .drive_bnr .txt {
        top:35%;
        padding-left: 70px;
    }
    main .drive_bnr .txt .drive {font-size: 1.3rem;}
    /* main4 */
    main .car_wrap .car_contents {
        width: calc(100% - 30px);
        padding: 100px 0;
    }
    main .car_wrap .container {
        justify-content: space-around;
    }
    main .car_wrap .container .items,
    main .car_wrap .container .items .view {width: 300px;}
    /* footer */
    footer .top .top_wrap, 
    footer .btm .btm_wrap {
        width: calc(100% - 30px);
    }
}
@media (max-width:1024px){
    header > ul > li {margin-right: 20px;}
    /* main2 */
    main .new_wrap .txt p,
    main .car_wrap .txt p {font-size: 1.2rem;}
    main .new_wrap .txt h2 {
        margin: 20px 0 40px;
        font-size: 2rem;
    }
    main .new_wrap .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 25px;
    }
    main .new_wrap .container .txt a {font-size: 1rem;}
    main .new_wrap .container .txt p {font-size: 14px;}
    main .new_wrap .container .left .new1 .txt a {
        margin-top: 15px;
    }
    main .new_wrap .container .right .contents {
        padding:0;
        border: none;
    }
    main .new_wrap .container .right .new2 > a, 
    main .new_wrap .container .right .new3 > a, 
    main .new_wrap .container .right .new4 > a {
        width: 320px;
    }
    /* main3 */
    main .drive_bnr .txt {
        padding-left: 50px;
    }
    main .drive_bnr .txt p {font-size: 1.1rem;}
    main .drive_bnr .txt h2 {
        font-size: 2.3rem;
        padding: 20px 0 35px    
    }
    main .drive_bnr .txt .drive {
        font-size: 1.2rem;
        padding: 15px 35px;
    }
    /* main4 */
    main .car_wrap .txt h2 {
        margin: 20px 0 50px;
        font-size: 2rem;
    }
    main .car_wrap .container .items,
    main .car_wrap .container .items .view {width: 270px;}
}
@media (max-width:950px){
    header > ul > li > a {
        font-size: 1.2rem;
    }
    header > ul > li {margin-right: 10px;}
    /* main2 */
    main .new_wrap {padding: 100px 0;}
    main .new_wrap .container {
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        gap: 30px 0;
    }
    main .new_wrap .container .left .new1 {
        display: flex;
        align-items: center;
        /* margin-bottom: 30px; */
    }
    main .new_wrap .container .new1 > a {width: 70%;}
    main .new_wrap .container .left .new1 a img {height: auto;}
    main .new_wrap .container .right {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px 0;
    }
    main .new_wrap .container .new3, 
    main .new_wrap .container .new4 {
        margin-top: 0;
    }
    main .new_wrap .container .right .new2 > a, 
    main .new_wrap .container .right .new3 > a, 
    main .new_wrap .container .right .new4 > a {
        width: 70%;
    }
    main .new_wrap .container .contents .txt {
        margin-left: 15px;
        width: 200px;
    }
    main .new_wrap .container .contents .txt a {
        margin-top: 0;
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    main .new_wrap .container .txt p {font-size: 16px;}
    /* main2 이미지변경 */
    main .new_wrap #new01,
    main .new_wrap #new02,
    main .new_wrap #new03,
    main .new_wrap #new04 {display: none;}
    
    main .new_wrap #new01-1,    
    main .new_wrap #new02-1,
    main .new_wrap #new03-1,
    main .new_wrap #new04-1 {display: block;}
    /* main3 */
    main .drive_bnr .txt {
        padding-left: 30px;
        top:30%;
    }
    main .drive_bnr .txt p {font-size: 1rem;}
    main .drive_bnr .txt h2 {font-size: 2rem;}
    /* main4 */
    main .car_wrap .container .items,
    main .car_wrap .container .items .view {width: 220px;}
    main .car_wrap .container .items p {
        font-size: 1.3rem;
        margin: 20px 0;
    }
    main .car_wrap .container .items .view {font-size: 1.3rem;}
    /* footer */
    footer {height: 300px;}
    footer .top .top_wrap .txt span {
        margin-bottom: 25px;
        font-size: 1rem;
    }
    footer .top .top_wrap .txt a {margin-bottom: 15px;}
    footer .top .top_wrap .txt > * {font-size: 0.875rem;}
    footer .btm {margin: 50px 0;}
}
@media (max-width:760px){
    header > ul {display: none;}
    header #m_nav {display: block;}
    header h1 {width: 100%;}
    header h1 a {
        display: block;
        width: 150px;
    }
    header h1 .logo1 {display: none;}
    header h1 .logo2 {display: block;}
    /* main1 */
    main .visual video {display: none;}
    main .visual {
        background: url(../images/etc_002.jpg) no-repeat 8% 70%;
    }
    /* main .visual img {display: block;} */
    main .visual .txt h1 {
        font-size: 3rem;
        margin-bottom: 40px;
    }
    main .visual .txt .link a {
        font-size: 1.313rem;
        width: 180px;
    }
    main .visual .txt .link .drive {
        margin-left: 20px;
    }
    /* main2 */
    main .new_wrap {padding: 70px 0;}
    main .new_wrap .txt p,
    main .car_wrap .txt p {font-size: 1.1rem;}
    main .new_wrap .txt h2,
    main .car_wrap .txt h2 {
        margin:20px 0 40px;
        font-size: 2rem;
    }
    main .new_wrap .container .left .new1,
    main .new_wrap .container .right .contents {
        flex-flow: column;
        align-items: flex-start;
    }
    main .new_wrap .container .new1 > a {width: 100%;}
    main .new_wrap .container .right .new2 > a, 
    main .new_wrap .container .right .new3 > a, 
    main .new_wrap .container .right .new4 > a {width: 100%;}
    main .new_wrap .container .contents .txt,
    main .new_wrap .container .right .contents .txt {
        margin-left: 0;
        width: 100%;
    }
    main .new_wrap .container .contents .txt a {
        margin-bottom: 10px;
        font-size: 1.438rem;
        margin-top: 15px;
        height: auto;
    }
    main .new_wrap .container .new3 .txt a, 
    main .new_wrap .container .new4 .txt a {line-height: normal;}
    /* main3 */
    main .drive_bnr img {
        height: 550px;
        object-fit: cover;
    }
    main .drive_bnr .txt {
        padding-left: 15px;
        top: 45%;
    }
    /* main4 */
    main .car_wrap .car_contents {padding: 70px 0;}
    main .car_wrap .container {
        flex-flow: column;
    }
    main .car_wrap .container .items {
        width: 80%;
        margin-bottom: 40px;
    }
    main .car_wrap .container .items .view {width: 100%;}
    main .car_wrap .container .items p {
        font-size: 1.5rem;
        margin: 20px 0 30px;
    }
    main .car_wrap .container .items .view {font-size: 1.625rem;}
    /* footer */
    footer .top .top_wrap .txt span {font-size: 0.875rem;}
    footer .top .top_wrap .txt > * {font-size: 0.750rem;}
    footer .btm .btm_wrap div > * {font-size: 0.875rem;}
    footer .btm .btm_wrap .right > * {margin-left: 20px;}
}
@media (max-width:580px){
    /* main1 */
    main .visual .txt {bottom: 120px;}
    main .visual .txt .link a {
        font-size: 1.2rem;
        width: 160px;
    }
    /* main2 */
    main .new_wrap {padding: 50px 0;}
    /* main2,4 txt */
    main .new_wrap .txt h2, 
    main .car_wrap .txt h2 {font-size: 1.8rem;}
    /* main3 */
    main .drive_bnr img {height: 520px;}
    main .drive_bnr .txt p {font-size: 0.750rem;}
    main .drive_bnr .txt h2 {
        font-size: 1.375rem;
        padding: 15px 0 35px;
    }
    main .drive_bnr .txt .drive {font-size: 16px;}
    /* main4 */
    main .car_wrap .car_contents {padding:50px 0;}
    main .car_wrap .container .items {width: 100%;}
    main .car_wrap .container .items img:nth-child(1n) {
        width: 90%;
        margin: auto;
        display: block;
    }
    main .car_wrap .container .items img:nth-child(2n) {
        width: 90%;
        display: block;
        overflow: hidden;
        margin-left: 25px;
    }
    main .car_wrap .container .items p {
        font-size: 1.3rem;
        margin: 20px 0;
    }
    main .car_wrap .container .items .view {font-size: 1.3rem;}
    /* footer */
    footer {height: auto;}
    footer .top {padding:30px 0 20px;}
    footer .top .top_wrap, 
    footer .btm .btm_wrap {flex-flow: column;}
    footer .top .top_wrap .txt span {
        font-size: 0.750rem;
        margin-bottom: 12px;
    }
    footer .top .top_wrap .txt > * {font-size: 0.625rem;}
    footer .top .top_wrap .txt a:last-child {margin-bottom: 20px;}
    footer .btm {
        padding: 20px 0;
        margin:0;
    }
    footer .btm .btm_wrap .right {
        flex-flow: column;
    }
    footer .btm .btm_wrap .right > * {
        margin-left: 0;
    }
    footer .btm .btm_wrap .right a:nth-child(2) {margin:15px 0;}
    footer .btm .btm_wrap div > * {font-size: 0.625rem;}
    footer .btm .btm_wrap .left a {margin-bottom: 20px;}
}
@media (max-width:400px){
    html, body {min-width: 380px;}
    /* main1 */
    main .visual .txt {bottom: 100px;}
    main .visual .txt h1 {font-size: 2.250rem;}
    main .visual .txt .link a {
        font-size: 16px;
        width: 140px;
    }
    /* main2 */
    main .new_wrap .txt p,
    main .car_wrap .txt p {font-size: 0.750rem;}
    main .new_wrap .txt h2,
    main .car_wrap .txt h2 {font-size: 1.313rem;}
    main .new_wrap .container .contents .txt a {font-size: 16px;}
    main .new_wrap .container .contents .txt p {font-size: 0.750rem;}
    /* main3 */
    main .drive_bnr img {height: 480px;}
    /* main4 */
    main .car_wrap .container .items {margin-bottom: 30px;}
    main .car_wrap .container .items img {width: 85%;}
    main .car_wrap .container .items p {
        font-size: 16px;
        margin: 15px 0;
    }
    main .car_wrap .container .items .view {font-size: 16px;}
}